*
.heda {
    background-color: black;
    height: 145px;

}
#logo{
    margin-top: -20px;
}
.nav-links {
    float: right;
    margin-top: -130px;
}
#links li {
    display: inline;
    text-decoration:none;
    color: red;
    font-family: 'Sigmar One', cursive;
    font-size: 24px;
}
#links {
    text-decoration: none;
    word-spacing: 10px;
}
#links li :hover {
    background-color: red;
    color:black;
    padding: 4px;
    border-radius: 6px;
    transition:1s;
    text-decoration: none;
}

#about {
    padding: 30px;
}
#bottom-gallery {
    margin-right: -180px;
    margin-top: 400px;
}
#about-gallery {
    margin-right: -280px;
    margin-top: 20px;
}
.about-heading {
    font-family: 'Squada One', cursive;
}
.about-graph {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
}
.card-img-top {
    height: 250px;
    width: 200px;
}
.project-cards {
    margin-top: 150px;
}
#titler {
    font-family: 'Squada One', cursive;
    
}
.card {
    border-radius: 17px;
    
}
#carding {
    border-radius: 10px;
    
}
#carding :hover {
    background-color: black;
    color: white;
    transition: 0.6s ease-in-out ;
}
#myPlaylists {
    width: 100%;
    
}
#myPlaylists h2 {
    align-content: center;
    padding: 50px;
    color: red;
    font-family: 'Sigmar One', cursive;
    margin-right: -180px;
}
.play_heda {
    background-color: black;
    float: inline-end;
}
.footer {
    background-color: black;
}
.icons li :hover{
    background-color: rgb(155, 13, 13);
    padding: 14px;
    border-radius: 7px;
    text-decoration: none;
    font-weight: 600;
    transition: 1.2s;
}
.icons {
    margin-top: 20px;
}
#inputEmail {
    margin: 10px;
}
#inputHeda {
    font-family:'Squada One', cursive; 
    color: red;
    opacity: 5px;
}
#input {
    margin-right: -50px;
}
.icons li {
    font-family:'Squada One', cursive ;
}
#about_cont {
    width: 100%;
}
.copywrite {
    float: right;
}